* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'pt sans regular';
}

img {
	width: 100%;
	height: auto;
}

h2 {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.cardWrapper {
	display: flex;
	height: 80vh;
	width: 90vw;
}

.cardMenuContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background: rgb(3, 3, 82);
	padding: 30px 0;
	gap: 5vh;
	font-size: 1.6rem;
	width: 200px;
	font-family: 'rubik regular';
}


.cardMenuContainer .card {
	background: rgb(3, 3, 82);
	padding-left: 0;
}

.cardMenuContainer li {
	background-color: rgb(3, 3, 82);
	color: #fff;
	padding: 0 30px;
	margin-bottom: 2vh;
	cursor: pointer;
	border: none;
}

.cardMenuContainer li:hover {
	border-left: 3px solid #fff;
	padding-left: 27px;
}

.cardContentWrapper {
	flex: 1;
	background: url(img/brainbg.jpg);
	background-size: cover;
}

.logoContainer {
	width: 100%;
	padding: 0 30px;
}

.cardContentWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: 50px;
}

.cardContentWrapper button {
	background-color: orangered;
	color: #fff;
	align-self: flex-end;
	margin-top: 30vh;
}

.cardContentWrapper button:hover {
	background-color: rgb(245, 136, 97);
}

.cardContentWrapper button.opacityNone {
	opacity: 0;
	cursor: auto;
}

.quizcard {
	width: 90%;
	height: 90vh;;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding: 10vh 0;
}

.quizcard ul {
	gap: 20px;;
}

.quizcard li {
	cursor: pointer;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}